@font-face {
  font-family: 'CMU Serif';
  src: url('/fonts/cmunrm.ttf') format('truetype'); /* Ruta a la fuente descargada */
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  z-index: 10000;
}

/* Animación de salida */
.modal-backdrop.fade-out {
  opacity: 0;
}

/*
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}
  */
 .modal-content {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; /* Aumenta el tamaño de la fuente */
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
  width: 30%;
  max-width: 600px;
  z-index: 10001;
}

/* Si quieres que el mensaje dentro del modal tenga un tamaño aún mayor */
.modal-content p {
  font-size: 30px; /* Ajusta el tamaño del texto del mensaje */
  font-weight: bold; /* Hace que el texto sea más grueso */
  color: #1d52a6; /* Color de texto oscuro para mejor visibilidad */
}


/* Animación de salida */
.modal-content.slide-down {
  transform: translateY(20px);
}